@model Branch
@{
    ViewData["Title"] = "BranchAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* 


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form asp-action="BranchAdd" asp-controller="branch" action="post">



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>

            </form>

        </div>
    </div>
</div> *@