
@model ICollection<Branch>


@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}  
<div class="row container">
    <a asp-action="BranchAdd" asp-controller="Branch" class="btn btn-primary col-3 offset-9"> Branş Ekle</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Adı</th>
            <th scope="col">Detayı</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BranchName</td>
                <td>@item.BranchDetay</td>
            </tr>
        }
   
    </tbody>
</table>




