html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-infom{
    background-color:rgb(155, 223, 242)
}

input[type="date"]{
    background-color:#0080ff;
    padding:15px;
    position:15px;
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    font-family:"Sans Serif Collection",monospace;
    color:#ffffff;
    font-size:18px;
    border:none;
    outline:none;
    border-radius:5px;

}
